@import "../../../style/colors.scss";

.location-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $grey-dark;
  text-align: center;
  color: $white;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      h2 {
        color: $gold;
        text-decoration: underline;
      }
    }
  }
}
