<div class="page-container">
  <app-search-filter (filterChange)="onFilterChange($event)"></app-search-filter>

  <div class="content-section">
    <div class="loading-container" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
      <p class="loading-text">Carregando usuários...</p>
    </div>

    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    <div class="card-list-container" *ngIf="!isLoading">
      <mat-card class="user-card" *ngFor="let user of filteredUsers">
        <mat-card-header>
          <div class="header">
            <div class="user-icon">👤</div>
            <div>
              <div class="user-name">{{ user.name }}</div>
              <div class="user-username">{{ user.username }}</div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>Email: {{ user.email }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openUserProfile(user)">Ver Perfil</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
