$gold-light: #C9A93C;
$gold: #F4BC31;
$gold-dark: #D3B749;
$blue-dark: #1C3454;
$blue: #617897;
$blue-light: #8CA4BC;
$grey-dark: #2C3B56;
$grey-light: #A4AFBC;
$white: #FFFFFF;
$black: #000000;
$error-message: #ff4444
